* {
    font-family: poppins;
    scroll-behavior: smooth;
  }
  
  /* HEADER */
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .logo {
    /* Remove the width property and adjust max-width to make it smaller */
    max-width: 150px; /* Adjust this value as needed to make the logo smaller */
    padding-right: 20px;
    overflow: hidden;
  }
  
  .logoImg {
    /* Set the max-width to ensure the logo scales proportionally */
    max-width: 100%;
    height: auto;
  }
  
  .menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menuLink {
    margin-left: 10px;
    padding: 10px;
    font-size: 20px;
  }
  
  .menu li:first-child {
    margin-left: 0;
  }
  
  .menu a {
    text-decoration: none;
    color: #333;
  }
  
  .menu a:hover {
    background-color: #3EB489;
    color: white;
    padding: 10px;
  }
  
  /* Style the search bar container */
  .searchBar {
    display: flex;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 8px;
  }
  
  /* Style the search input */
  .search-bar input[type="text"] {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 4px;
  }
  
  /* Style the search button */
  .search-bar button {
    background-color: #3EB489;
    color: #ffffff;
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 4px 8px;
    cursor: pointer;
  }